@media only screen and (max-width : 1600px)
    .header
        margin-bottom: calc( 20px + (307 - 20) * ((100vw - 320px) / (1600 - 320) ))
        &__logo
            margin-left: calc( 20px + (70 - 20) * ((100vw - 320px) / (1600 - 320) ))
        &__top     
            padding-right:  calc( 20px + (182 - 20) * ((100vw - 320px) / (1600 - 320) ))
            padding-top: calc( 20px + (87 - 20) * ((100vw - 320px) / (1600 - 320) ))
        &__title
            font-size: calc( 16px + (36 - 18) * ((100vw - 320px) / (1600 - 320) ))
        &__background            
            img
                max-width: calc( 10px + (325 - 20) * ((100vw - 320px) / (1600 - 320) ))
    .app
        &__wrap
            grid-template-columns: repeat(auto-fill,280px)
           
    .overview__app
        &-title            
            padding-top: 60px
   

@media only screen and (max-width : 1366px)
    
          
    .benefits        
        &__wrap
            flex-wrap: nowrap
            margin-left: 20px
        &__img
            max-width: 500px
    .offer
        &__sub-wrap
            grid-column-gap: 200px

@media only screen and (max-width : 1280px)
    .header__top      
        padding-right:  calc( 20px + (182 - 120) * ((100vw - 320px) / (1280 - 320) ))
    .header__background
        top: calc( 77px + (77 + 20) * ((100vw - 320px) / (1280 - 320) ))
   
    .app
        &__wrap
            grid-template-columns: repeat(auto-fill,235px)
    .overview__app        
        &-title            
            padding-top: clamp(10px, 10vh, 32px )

    .investment
        &__img
            max-width: 550px
       
        &__item
            font-size: 22px
        &__item-sub
            padding: 20px 0
        &__diagramm
            max-width: 310px
    .offer
        &__wrap
            margin-left: 60px
            padding-left: 40px
        &__sub-wrap
            grid-column-gap: 100px
            justify-content: space-between
            

@media only screen and (max-width : 1080px)           
    .header
        
        &__top
            padding-left:  calc( 20px + (92 + 20) * ((100vw - 320px) / (1080 - 320) ))
        &__logo        
            img
                max-width: calc( 50px + (400 + 160) * ((100vw - 320px) / (1080 - 320) ))  
        &__background
            top: calc( 149px + (77 + 20) * ((100vw - 320px) / (1080 - 320) ))

        &__description-bottom
            margin-left: 40px
    .app
        &__wrap
            grid-template-columns: repeat(auto-fill,220px)
            margin-left: clamp(40px,12vw,394px)
    .title
        margin-left: clamp(40px,12vw,380px)
    .overview__app      
        &-title            
            padding-top: 0
        &__title h3
            font-size: 27px


    .investment
        &__item
            font-size: 20px
        &__diagramm
            padding-top: 150px
    .title__uppercase
        font-size: 37px
    .offer
        &__wrap
            margin-left: 40px
            padding-left: 40px
        &__sub-wrap
            grid-column-gap: 50px
        &__item
            font-size: 35px
            line-height: 48px
        &__title-sub         
            font-size: 72px
    .registry         
        &__title
            margin-left: 0
            margin-top: 0px
        &__wrap
            flex-wrap: wrap     
        
@media (max-width: 991px)
    .header
        +flex
        flex-direction: column
        
        &__logo img
            //max-width: 122px
        &__block    
            //margin-left: 20px 
       
        &__bottom
            justify-content: flex-start
        &__list-title
            font-size: 20px
        &__item
            font-size: 15px
    .app
        &__wrap
            grid-template-columns: repeat(auto-fill,200px)

    .overview__app        
        &-title h3
            margin-top: 0
            font-size: 27px
        &-title .line
            max-width: 300px
    .investment
        &__table
            padding: 20px
        &__item-sub
            padding: 5px 0
        &__diagramm
            width: 210px
            padding-left: 5px
            padding-top:100px
    .benefits
        &__img
            max-width: 380px
            height: 300px
        &__list
            font-size: 21.5px
        
    .offer
        &__wrap
            margin-left: 20px
            margin-right: 20px
            padding-left: 20px
        &__sub-wrap
            grid-column-gap: 20px
        &__item
            font-size: 30px
            line-height: 40px
        
@media only screen and (max-width : 800px) 
    .header
        &__background
            top: calc( 209px + (77 + 20) * ((100vw - 320px) / (1280 - 320) ))          
        &__description
            font-size: 16px
        &__list-title
            font-size: 15px        
        &__description-bottom
            font-size: 24px
        &__description-bottom .orange
            font-size: 30px
        &__description-bottom .white
            font-size: 55px   
    .app
        &__wrap
            grid-template-columns: repeat(auto-fill,169px)

    .benefits
        &__img
            max-width: 350px
           
        &__list
            font-size: 20px
    .offer
        &__wrap
            margin-left: 10px
            margin-right: 10px
            padding-left: 10px        
        &__item
            font-size: 28px
            line-height: 38px
    .investment
        &__img
            padding-right: 120px
        &__item
            font-size: 16px
@media ( max-width: 767px )
    
    .overview__app
        margin-top: 50px  
       
        &-title h3
           padding-top: 0            
        
           
    .title__uppercase
        font-size: 28px
    
    .investment
        &__table-left, &__table-right
            z-index: 1
        &__diagramm
            position: absolute
            top: -25%
            left: 25%
            opacity: 0.5
    .benefits
        &__wrap 
           flex-direction: column
           align-items: flex-end
        &__img
            max-width: 300px
            height: 200px
        &__list
            font-size: 19px
    .offer
        &__item
            font-size: 22px
        &__discount::after
            top: -5px
            left: 29px
            width: 50px
            height: 50px
        &__title-sub
            text-align: left
            margin: 0    
            font-size: 72px
@media only screen and (max-width : 600px)
    .header
     
        &__bottom
           flex-direction: column 
        &__description-bottom
            margin-top: 200px
    .title__uppercase
        font-size: 20px
        text-align: center
    .overview__app      
        &-title.hide
            display: none
        &-title.show
            display: block


    .investment
        &__img
            padding-right: 200px
        &__wrap
            flex-wrap: wrap    
            justify-content: space-evenly 
            row-gap: 20px
        &__diagramm
            position: unset
            padding: 0
    
    .offer
       
        &__item
            font-size: 17px   
        &__discount::after
            top: -10px
            left: 23px           
        &__title-sub
            text-align: left
            font-size: 43px

@media only screen and (max-width : 533px)
    .title
        text-align: center
        font-size: 30px
        margin-left: 0
    .header
      
        &__description
            font-size: 14px
        &__description-bottom
            margin-left: 0     

        &__bottom           
            gap: 0

    .overview__app        
        &_title-sub
            text-align: left 

    .investment
        &__img
            padding-right: 100px
    .offer
        &__wrap
            padding-left: 5px
        &__title
            font-size: 17px
        &__sub-wrap
            
            justify-content: space-evenly
            grid-column-gap: 5px
            padding-right: 5px
        &__item
            font-size: 14px   
        &__default, &__discount
            padding: 0
        
        &__discount::after
            top: -13px
            left: -10px   
            width: 40px
            height: 40px
            opacity: 0.6 
                  
        &__title-sub            
            font-size: 27px 
    
    .registry
        justify-content: flex-end
        &__wrap
            margin-bottom: 50px
        &__title
            max-width: 400px
            //font-size: 20px
        &__block
            height: 280px
        &__btn     
            width: 300px      
            font-size: 18px
            margin: 25px 5px
            padding: 10px 5px
        .btn__arrow
            margin-left: 5px


@media only screen and (max-width : 420px)
    .title
        font-size: 25px

@media only screen and (max-width : 360px)
    
    .header  
              
        &__item, &__list-title
            font-size: 14px        

        &__description-bottom
            font-size: 16.5px
            margin: 100px 5px 5px 5px
            margin-bottom: 5px        
            margin-top: 150px
            text-shadow: black 0 0 1px


        &__description-bottom .orange
            font-size: 29px
        &__description-bottom .white
            font-size: 49px
            
    .app
        &__wrap
            grid-template-columns: repeat(auto-fill,210px)
            margin: 0 
    .overview__app     
        &-title h3
            font-size: 25px

           
        
    .offer       
        &__title
            font-size: 15px
        &__title-sub
            font-size: 26px
        &__item
            font-size: 13px
    .registry
        &__btn
            font-size: 17px
@media only screen and (max-width : 320px)
    .title
        font-size: 23px
    .header    
      
        &__description
            font-size: 12px
        &__list-title
            font-size: 12px             
        &__description-bottom
            font-size: 15px

    .image
        margin: 49px auto 80px
    .overview
        &__app-title h3
            font-size: 21px
    .offer
        &__wrap
            margin: 0 5px
        &__item .cost
            display: none
        
    .registry
        jstify-content: flex-end
        &__title
            font-size: 22px

        &__wrap
            gap: 20px
        &__block
            width: 100%
            margin-bottom: 50px
            padding: 5px
        &__btn
            font-size: 13.5px
            width: 100%

@media only screen and (max-width : 280px)
    .header
        &__title
            font-size: 17px        
        &__list-title
            font-size: 12px
        &__description-bottom .orange
            font-size: 25px
            
            

        
    