@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600;1,800&display=swap')
@import "base/_variables.sass"
@import "base/_mixins.sass"
*
    box-sizing: border-box

body
    margin: 0
    padding: 0
    background: rgb(240, 233, 233)
    font-family: 'Open Sans', sans-serif

.wrapper
    max-width: 1600px
    margin: 0 auto
    background: #fff
.orange
    font-size: 40px
    color: #F1A208

.white
    font-size: 58px
    color: #fff

.title
    font-weight: bold
    font-size: 35px
    line-height: 48px
    color: black
    margin-left: 394px


@import "blocks/_header.sass"
@import "blocks/_image.sass"
@import "blocks/_app.sass"
@import "blocks/_overview.sass"
@import "base/_media.sass"