.app  
    &__wrap       
        max-width: 1161px        
        display: grid    
        grid-template-columns: repeat(auto-fill, 320px)
        gap: 40px
        margin-top: 64px
        margin-left: clamp(40px,24vw,394px)
        padding: 10px
        padding-bottom: 50px
  
    &__block-img              
        max-width: 40px
        max-height: 40px
.fa-comments,.fa-shopping-basket,
.fa-coins,.fa-chart-bar,.fa-chalkboard-teacher,.fa-money-check-alt
      font-size: 25px

.fa-comments
    color: #673ab7  
    
.fa-shopping-basket
    color: orange
.fa-coins
    color: gold   
.fa-chart-bar
    color: green
.fa-chalkboard-teacher
    color: blue
.fa-money-check-alt
    color: purple