.header 
    position: relative  
    max-width: 1600px 
    min-height: 1105px
    background: url(../img/head.png)
    background-repeat: no-repeat
    // background-size: contain

    &__block       
        margin-left:  190px
        padding-top: 200px

    &__logo        
        img
            position: absolute
            top: 1.5rem
            left: 2.5rem
            max-width: 159px
            width: 100%
            min-height: 125px
            object-fit: contain

    &__top     
        margin-right: 10px  
        margin-bottom: 3em
    &__title
        font-weight: bold
        font-size: 55px
        line-height: 67px
        margin-bottom: 10px
        color: #fff  

    &__description
        font-size: 22.5px
        line-height: 32px
        color: #e9e7e7
        margin-top: 0

    &__bottom      
        display: flex
        flex-wrap: wrap
        // grid-template-columns: repeat(auto-fit, minmax(400px, 500px))  
        justify-content: space-between
        gap: 10px
        max-width: 880px   
        color: #fff
  
    &__list
        padding:0px 10px 0 10px 
        
    &__list-title
        display: block
        background: #F6D365
        font-size: 24px
        line-height: 32px
        color: black
        margin-bottom: 22px

    &__item
        font-size: 18px
        line-height: 32px
        margin-left: 40px
       

    &__description-bottom
        max-width: 1012px
        font-weight: bold
        font-size: 32px
        text-align: center
        letter-spacing: 0.02em
        line-height: 51px
        text-transform: uppercase
        color: #0085FF
        text-shadow: black 0 0 2px
        margin-left: 93px
        margin-top: 270px
        padding: 20px
