.header 
    position: relative
    display: flex
    justify-content: space-between
    align-content: space-between
    flex-wrap: wrap
    flex-direction: column
    width: 2512px
    height: 1105px
    background: url(/img/head.png)
    background-repeat: no-repeat

    &__block
        margin-top: 109px
        margin-left: 138px

    &__logo 
        img
            position: absolute
            left: 2.81%
            top: 1.21%

    &__top

    &__title
        font-weight: bold
        font-size: 55px
        line-height: 32px
        color: #fff
        margin-bottom: 17px

    &__description
        font-size: 22.5px
        line-height: 32px
        color: #e9e7e7
        margin-top: 0

    &__bottom
        display: flex
        justify-content: space-between
        align-items: baseline
        color: #fff

    &__bottom_left
    &__list

    &__list-title
        display: block
        background: #F6D365
        font-size: 24px
        line-height: 32px
        color: black
        margin-bottom: 22px

    &__item
        font-size: 18px
        line-height: 32px

    &__description-bottom
        width: 1012px
        font-weight: bold
        font-size: 32px
        text-align: center
        letter-spacing: 0.02em
        text-transform: uppercase
        color: #0085FF
        text-shadow: black 0 0 2px
        margin-left: 93px
