.header 
    position: relative  
    margin-bottom: 307px


    &__block      
        +flex
        margin: 0 10px
       
    &__logo  
        margin-left: 70px
        margin-top: 50px
        img              
            max-width: 333px            
            object-fit: cover

    &__top    
        padding:  87px 182px 0px 92px      
 
    &__title           
        font-size: 36px
        line-height: 142%
        letter-spacing: 0.09em
        text-transform: uppercase
        background: linear-gradient(180deg, #2F9EB8 0%, #7D17FF 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        color: #7D17FF      
        
        
    &__background        
        position: absolute
        top: 77px
        right: 0
        img
            max-width: 325px
            object-fit: cover
            object-position: right

    &__description
        font-size: 22.5px
        line-height: 32px
        color: #1b1a1a
        margin-top: 0

    &__bottom      
        display: flex
        flex-wrap: nowrap        
        justify-content: space-between
        gap: 10px
        max-width: 880px   
        color: #fff
  
    &__list
        padding:0px 10px 0 10px 
        
    &__list-title
        display: block
        background: #F6D365
        font-size: 24px
        line-height: 32px
        color: black
        margin-bottom: 22px

    &__item
        font-size: 18px
        line-height: 32px
        margin-left: 40px
       

