
.image
    height: 800px
    margin: 122px auto 0px

    &__video
        width: 1165px
        height: 570px
        background: #fff
        margin: 0 auto
        border: 1px solid #7D17FF
        background: url('/img/youtube.png')
        background-repeat: no-repeat
        background-position: center

        iframe
            width: 100%
            height: 100%