.investment
    &__img
        width: 668px
        height: 450px
        margin-top: 47px
        margin-bottom: 60px
    &__title
        font-size: 48px
        line-height: 46px
        text-align: center
        text-transform: uppercase        
    &__table
        height:  811px
        background: linear-gradient(180deg, #30CFD0 0%, #330867 100%)
        mix-blend-mode: normal
        color: #fff
        padding: 35px 60px
    &__title-table
        text-align: left
        margin-left: 77px
        &__table-left
            &__list
                &__item
        &__diagramm
        &__table-right
            &__list
                &__item
                