.overview__app
    position: relative
    &-title
        position: absolute
        +flex
        align-items: start
        flex-direction: column
        margin-top: 50px
        margin-left: 50px
    &-title h3
        margin-left: 0   
        margin-bottom: 0    
    &-img 
.line img

